/* Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

video {
	width: 100%;
}

html {
	scroll-behavior: smooth;
	scroll-padding: 10px;

	@media only screen and (min-width: 1024px) {
		scroll-padding: 80px;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

a,
button {
	cursor: pointer;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	margin: 0;
	padding: 0;
	font-weight: 500;
	background-color: #eeeeef;
	-webkit-font-smoothing: antialiased;
}

strong {
	font-weight: 700 !important;
}

main {
	@media only screen and (min-width: 1024px) {
	}
}

.img-fluid,
.img-thumbnail {
	height: auto;
	width: 100%;
}

/* Bootstrap */
.fade:not(.show) {
	opacity: 1;
}

.sr-only {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

.pt-11 {
	padding-top: 8rem !important;
}

@media only screen and (min-width: 992px) {
	.pe-6 {
		padding-right: 3rem !important;
	}

	.pe-lg-6 {
		padding-right: 4rem !important;
	}

	.ps-lg-6 {
		padding-right: 4rem !important;
	}

	.pt-lg-6 {
		padding-top: 4rem !important;
	}

	.pb-lg-6 {
		padding-bottom: 4rem !important;
	}

	.pe-lg-7 {
		padding-right: 5rem !important;
	}

	.ps-lg-7 {
		padding-left: 5rem !important;
	}

	.pt-lg-7 {
		padding-top: 5rem !important;
	}

	.pb-lg-7 {
		padding-bottom: 5rem !important;
	}

	.pt-lg-11 {
		padding-top: 11rem !important;
	}
}

.tab-pane {
	display: none;
}

.tab-pane.show {
	display: block;
}

.swiper {
	// @extend .d-none;

	&-initialized {
		// @extend .d-block;
	}

	&-wrapper {
		-webkit-transition-timing-function: linear !important;
		-o-transition-timing-function: linear !important;
		transition-timing-function: linear !important;
	}
}

.letter-spacing-4 {
	letter-spacing: -2.56px;
}

.customSwiperPagination {
	.swiper {
		&-pagination {
			&-bullet {
				background-color: var(--bs-secondary);
			}
		}

		&-button {
			&-prev,
			&-next {
				width: 56px;
				height: 56px;
				border-radius: 16px;
				background-color: var(--bs-secondary);
				background-repeat: no-repeat;
				background-position: center;

				&:after {
					display: none;
				}
			}

			&-prev {
				background-image: url(../../images/iconos/icono-swiper-anterior.png);
			}

			&-next {
				background-image: url(../../images/iconos/icono-swiper-siguiente.png);
			}
		}
	}
}

/* Header */
.header {
	&Logo img {
		width: 77px;
		height: 63px;

		@media only screen and (min-width: 1024px) {
			width: 97px;
			height: 79px;
		}
	}

	&Top {
		p {
			strong {
				font-weight: 500 !important;
			}
		}
	}

	&Menu {
		.submenu {
			&-wrapper {
				display: none;
				top: 130px;
				left: 20px;
				width: calc(100% - 40px);
				z-index: 1000;

				&.active {
					display: block;
				}
			}

			li {
				border-bottom: 1px solid var(--bs-gray-200);
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}

	&Bottom {
		top: 67px;
		z-index: 9;
		transition: all 0.3s ease-in-out;

		&.scrolled {
			top: 0;
			background-color: var(--bs-white-100);

			button {
				svg {
					path {
						fill: var(--bs-secondary);
					}
				}
			}
		}

		.current-menu-item {
			// position: relative;
			a {
				color: var(--bs-gray-200) !important;
				font-weight: 700;
			}

			&:after {
				content: "";
				display: block;
				position: relative;
				// bottom: -10px;
				width: 8px;
				height: 8px;
				left: 50%;
				margin-bottom: -10px;
				transform: translateX(-50%);
				background-color: var(--bs-secondary);
			}
		}
	}

	&Mobile {
		transition: all 0.3s ease-in-out;
		transform: translate3d(100%, 0, 0);
		z-index: 100;
		.current-menu-item {
			position: relative;
			a {
				color: var(--bs-gray-200) !important;
				font-weight: 700;
			}

			&:after {
				content: "";
				display: block;
				position: absolute;
				bottom: -5px;
				width: 8px;
				height: 8px;
				left: 50%;
				transform: translateX(-50%);
				background-color: var(--bs-secondary);
			}
		}

		&.active {
			transform: translate3d(0, 0, 0);
		}
	}
}

/* Linea */
.linea {
	&-horizontal {
		display: block;
		width: 100%;
		height: 1px;
	}
}

.whitespace-nowrap {
	white-space: nowrap;
}

/* customSeccionBannerImagen */
.customSeccionBannerImagen {
	&__blur {
		border-radius: 32px;
		background: rgba(37, 36, 34, 0.05);
		backdrop-filter: blur(10px);
	}

	&__video {
		height: 400px;

		@media only screen and (min-width: 992px) {
			height: 500px;
		}
	}
}

/* customSeccionServicios */
.customSeccionServicios {
	&__img {
		width: 100%;
		max-width: 181px;
	}
}

.pageExposicion {
	.customSeccionServicios {
		&__img {
			max-width: 129px;
		}
	}
}

/* customSeccionImagenItems */
.customSeccionImagenItems li {
	padding-bottom: 24px;
	border-bottom: 1px solid var(--bs-gray-200);
}

/* customSeccionTestimonios */
.customSeccionTestimonios {
	.customSwiperPagination {
		height: 56px;

		.swiper {
			&-button {
				&-prev,
				&-next {
					top: initial;
					margin-top: 0;
				}

				&-prev {
					left: 0;
				}
			}
		}
	}
}

/* comillas */
.comillas {
	left: 10px;
	opacity: 0.5;
	z-index: -1;
}

/* Estilos para el Marquee */
.customSeccionMarquee {
	overflow: hidden;

	.swiper-slide {
		width: auto;
	}

	.swiper-wrapper {
		height: auto !important;
	}
}

.marquee-container {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.marquee-content {
	display: inline-block;
	animation: marquee 20s linear infinite;
}

.marquee-content span {
	display: inline-block;
	padding: 0 2rem;
	font-size: 1.5rem;
	font-weight: 600;
	color: #333;
}

@keyframes marquee {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(-100%);
	}
}

/* customFooterRedes */
.customFooterRedes {
	border-bottom: 2px solid #eeeeef;

	@media only screen and (min-width: 992px) {
		border-left: 2px solid #eeeeef;
		border-bottom: none;
	}
}

/* customSeccionArchiveServicios */
.customSeccionArchiveServicios {
	button {
		&.active {
			color: var(--bs-gray-200) !important;

			&:after {
				content: "";
				display: block;
				position: absolute;
				bottom: -16px;
				width: 100%;
				height: 3px;
				border-radius: 3px 3px 0 0;
				background-color: var(--bs-secondary);
			}
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: 1fr;

		@media only screen and (min-width: 992px) {
			grid-template-columns: 1fr 2fr;
		}
	}
}

/* customSeccionTarjetaNumero */
.customSeccionTarjetaNumero {
	&__grid {
		@media only screen and (min-width: 992px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	&__item {
		min-height: 300px;

		.fs-2 {
			line-height: 40px;

			@media only screen and (min-width: 992px) {
				line-height: 40px;
			}
		}
	}

	&__numero {
		top: 20px;
		right: 20px;
		z-index: 0;
	}

	&__link {
		font-size: 1rem;

		@media only screen and (min-width: 992px) {
			font-size: 1.5rem;
		}
	}

	&__single {
		.customSeccionTarjetaNumero {
			&__item {
				min-height: 390px;
			}

			&__numero {
				right: 50px;
			}
		}
	}
}

/* List disc */
li {
	list-style: disc;

	&::marker {
		font-size: 10px;
	}
}

.list-style-none {
	list-style: none;
}

/* customSeccionTarjetaHorizontal2 */
.customSeccionTarjetaHorizontal2 {
	.fs-5 {
		font-size: 1rem !important;

		@media only screen and (min-width: 992px) {
			font-size: 1.25rem !important;
		}
	}

	ul {
		padding: 20px 0 0 40px;
	}
}

/* customSeccionContacto */
.customSeccionContacto {
	&__img {
		@media only screen and (min-width: 992px) {
			width: 50vw;
		}
	}

	.intl-tel-input {
		margin-top: 20px;
	}

	.intl-tel-input {
		&.separate-dial-code {
			.selected-flag {
				background-color: transparent !important;
			}

			.selected-dial-code {
				font-family: var(--font-family);
			}
		}
	}
}

.form-check-input {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	width: fit-content !important;
	height: auto;
	background: transparent;
	border: 0;
}

.wpcf7-list-item {
	position: relative;
	margin: 0;
}

.wpcf7-list-item-label {
	display: block;
	color: var(--bs-gray-500);
	font-size: 16px;
	padding: 10px 12px;
	background: #fff;
	border-radius: 12px;
}

.wpcf7-list-item input[type="checkbox"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

label:has(input[type="checkbox"]:checked) span {
	display: block;
	background: #f3bd0c;
	color: var(--bs-gray-200);
	padding: 10px 12px 10px 40px;
}

label:has(input[type="checkbox"]:checked) span:before {
	content: "";
	position: absolute;
	top: 0;
	left: 10px;
	width: 20px;
	height: 100%;
	background: url(../../images/iconos/icono-check.svg);
	background-repeat: no-repeat;
	background-position: center;
}

/* customSeccionArchiveProyectos */
.customSeccionArchiveProyectos {
	button {
		&.active {
			color: var(--bs-gray-200) !important;

			&:after {
				content: "";
				display: block;
				position: absolute;
				bottom: -16px;
				width: 100%;
				height: 3px;
				border-radius: 3px 3px 0 0;
				background-color: var(--bs-secondary);
			}
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: 1fr;

		@media only screen and (min-width: 992px) {
			grid-template-columns: 2fr 3fr;
		}
	}
}

/* customHoverZoom */
.customHoverZoom {
	img {
		transition: all 0.3s ease-in-out;
	}

	&:hover {
		img {
			transform: scale(1.05);
		}
	}
}

.rounded-lg-4 {
	@media only screen and (min-width: 992px) {
		border-radius: 16px;
	}
}

/* singleServiciosArticle */
.singleServiciosArticle {
	ul {
		li {
			position: relative;
			list-style: none;
			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				left: -35px;
				margin-top: -12px;
				width: 24px;
				height: 24px;
				background-image: url(../../images/iconos/icono-circulo-check.svg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				transform: translateY(-50%);
			}
		}
	}
}

.accordion-button {
	&:after {
		width: 20px;
		height: 20px;
		background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 15C10.2833 15 10.521 14.904 10.713 14.712C10.9043 14.5207 11 14.2833 11 14V11H14.025C14.3083 11 14.5417 10.904 14.725 10.712C14.9083 10.5207 15 10.2833 15 10C15 9.71667 14.904 9.479 14.712 9.287C14.5207 9.09567 14.2833 9 14 9H11V5.975C11 5.69167 10.9043 5.45833 10.713 5.275C10.521 5.09167 10.2833 5 10 5C9.71667 5 9.47933 5.09567 9.288 5.287C9.096 5.479 9 5.71667 9 6V9H5.975C5.69167 9 5.45833 9.09567 5.275 9.287C5.09167 9.479 5 9.71667 5 10C5 10.2833 5.09567 10.5207 5.287 10.712C5.479 10.904 5.71667 11 6 11H9V14.025C9 14.3083 9.096 14.5417 9.288 14.725C9.47933 14.9083 9.71667 15 10 15ZM10 20C8.61667 20 7.31667 19.7373 6.1 19.212C4.88333 18.6873 3.825 17.975 2.925 17.075C2.025 16.175 1.31267 15.1167 0.788 13.9C0.262667 12.6833 0 11.3833 0 10C0 8.61667 0.262667 7.31667 0.788 6.1C1.31267 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.31233 6.1 0.787C7.31667 0.262333 8.61667 0 10 0C11.3833 0 12.6833 0.262333 13.9 0.787C15.1167 1.31233 16.175 2.025 17.075 2.925C17.975 3.825 18.6873 4.88333 19.212 6.1C19.7373 7.31667 20 8.61667 20 10C20 11.3833 19.7373 12.6833 19.212 13.9C18.6873 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6873 13.9 19.212C12.6833 19.7373 11.3833 20 10 20Z' fill='%23223C31'/%3E%3C/svg%3E%0A") !important;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
	border-color: #f3bd0e;
}

@media only screen and (min-width: 992px) {
	.customSeccionTarjetaNumero .bg-gray-400 {
		border-radius: 16px;
	}
}

/* Estilos para menú móvil con scroll */
.headerMobile {
	.menu-scroll-container {
		overflow-y: auto;
		-webkit-overflow-scrolling: touch; /* Smooth scrolling en iOS */
		
		/* Personalizar scrollbar */
		&::-webkit-scrollbar {
			width: 6px;
		}
		
		&::-webkit-scrollbar-track {
			background: transparent;
		}
		
		&::-webkit-scrollbar-thumb {
			background: rgba(34, 60, 49, 0.2);
			border-radius: 3px;
		}
		
		&::-webkit-scrollbar-thumb:hover {
			background: rgba(34, 60, 49, 0.4);
		}
	}
	
	/* Sombra en el botón de contacto para que se vea por encima */
	> div.position-fixed.bottom-0 {
		box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
		z-index: 10;
	}
}
